In [2]:
# Input Phase
num1=int(input('Enter 1st number: '))
num2=int(input('Enter 2nd number: '))

# Processing Phase
result=num1 + num2

# Output Phase
print(result)

28

In [ ]:
# We could not able to start variable name with number

In [5]:
num = 3
name = 'John Smith'
weight = 55.66
type(num)
type(name)
type(weight)

float

In [6]:
# String methods
s='able by "Jhon"'
print(s)

able by "Jhon"

In [26]:
s.capitalize()
s.lower()
s.upper()
s.split()
s.split('by')
s.replace("by","BY")
s.replace('n',"@",1)
s.swapcase()        # Convert lower into capital and capital into lower
s.title()           # Convert 1st character of eache word capital
s.count('n')        # Count 'n' in the string
s.startswith('Ab')  # Check whether the string start with 'Ab' if true, return 'True' or False
s.isupper()         # Whether all characters are uper
s.isnumeric()       # Whether all are numeric
s.upper().isupper() # We may convert the string into upper and then check whether it is true

True

In [35]:
# Type Conversion
n = '34'          # Variable 'n' and we preserve '34' as string
n = int(n)        # Convert '34' as int
n = float(n)      # Convert '34' as float
n = complex(n)    # Convert '34' as complex
n = str(n)        # Convert integer 34 as string
n = bool("")      # Convert bool and if null value the return 'False'
type(n),n

(bool, True)

In [ ]:
# Creating Storage / Variable

In [38]:
# Binary Representation
c='A'
c='a'
ord(c)

# Assci to Character
n=65
chr(n)

'A'

In [ ]:
# String Formatting
name = 'John'
age = 25
weight = 55.6
print("{0} your age {1}, your weight is {2}".format(name,age,weight))   # 1st method '{}' it is call place holder

print("%s your age %d, your weight is %f" %(name,age,weight))   # 2nd method %' it is call place holder
print("%s your age %d, your weight is %.2f" %(name,age,weight))   # 2nd method %' it is call place holder

print(f"{name} your age {age}, your weight is {weight}")        # This format is much more interesting and easy
print(f"{name} your age {age+4}, your weight is {weight}")      # We can use operation here as well

In [47]:
# We can get input from the user as well
name=input(f"Your name is {name}")
print(name)

John

In [17]:
# Operators
# Aritmatice Operator
2+3     # Addition
3-2     # Deduction
3*2     # Multiplacation 
3/2     # Floating point Division
3//2    # Intiger point Division
3%2     # Remainder
3 ** 2  # Power calculation

9

In [5]:
# Comparison Operator
2 > 3   # 2 > 3 is False
2 < 3   # 2 < 3 is True
2 == 3  # 2 == 3 is False
2 != 3  # 2 !> 3 is True
2 >= 2  # 2 >= 3 is True
3 <= 2  # 2 <= 2 is False

False

In [9]:
# Logical Operators
True and True   # True and True returen True
True and False  # True and False return False
False and True  # False and True return False
False and False # False and False return False

True or True    # True or True return True
True or False   # True or False return True
False or True   # False or True returen True

not True        # not True return False
not False       # not False return True

## for Credit card
age=18
salary = 40000

(age>=18) and (salary >= 40000)

True

In [ ]:
## Special Opertor
"h" in "happy"  # if 'h' is found in 'happy' then return True
"u" in "happy"  # if 'u' is not found in 'happy' then return False

# is Operator
2 == 2      # 2 is equelto 2 return True
2 == 2.00   # 2 is equelto 2.00 return True, though it's type is different
print(2 is 2.00)    # 2 is 2.00 return False, as the type is different
print (2 is 2)      # 2 is 2 return True, as type is also same

In [2]:
## Assignment Operator / Day - 1, Time - 
n = 2       # We assign the value of n is 2
#n = n + 2   # Now we add 2 with n, then then n will return 4
#n += 2      # It also return the value 4 as above, which is the short form of n = n + 2
#n -= 2      # When the n value is 2 then deduce 2 and return 0
n *= 2      # Return 4
n

4

In [4]:
## To show the list of Keyword, Day-1, Time- 1:26.48
import keyword
keyword.kwlist  # Every keyword has it own function among them some of the function we already have used

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [39]:
## Advance Data Type,   Day-2, Time- 00.01

# There are four collection data types in the Python programming language:

# List is a collection which is ordered and changeable. Allows duplicate members.
# Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
# Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
# Dictionary is a collection which is ordered** and changeable. No duplicate members.

# *Set items are unchangeable, but you can remove and/or add items whenever you like.


## List
studs = [5,1,3,4,5,76,7,8,9,'CSE', True, 5.6]   # List variable, where we can storoe the data efficiently
studs           # We can print it directly or use print(studs) as well

# We may access this list data, suppose we want to use 1 from the list, then how?
# we know that list values have index number which is started from 0, then
# if we want to use 5, that means, we would going to use index 0
studs[0] 
# if we want to get 76 then what to do... we need to know the index no. of 76
# that is 5, so
studs[5]    # Then return 76. If we want to get the last value like 5.6 then
            # we need to know the index no. of 5.6. But is difficult when the list
            # will be large, so, a shortcut method is there like
studs[-1]
studs[-2]   # 2nd last value will be returned
studs[2:5]  # If we want to get the index 2 to 4 then we use this, we use index 5
            # due to the list ignore last index number
studs[:6]   # If we get from starting to index 5 then we will use it
studs[:]    # If we get all values in the list then we just mention :
studs[3:]   # If we want to get the list from index 3 to last index
studs[::2]  # if we like to get values skipping 2 index
studs[2::2] # if we like to get the list from index 2 and with 1 inverval
studs[2:10:2] # if means that start from index 2 to index 10 with 1 inderval
studs[::-1]   # if we atart from last to fast, then we will use this

## On String
"Python"[:]     # return 'Python
"Python"[::-1]  # return 'nohtyP'

## Updating
studs[3] = 44   # Update 4 which is index 3 with 44
studs[2:5] = 33,45,111  # Update index 2 to 5 with 33,45,111
studs
#It is not not possible to update string value using index

# Function
studs.append(6.6)   # 6.6 will be append at the end of the list
studs.insert(0,99)  # Add value like 99 on 0 index as we mention index no. 0
studs
# pop() Function delete the last value from the list
studs.pop()
studs.pop(0) # If we want to delete value against particular index, then we should use this
studs.remove(111)   # Remove function work on value. 
studs

[5, 1, 33, 45, 76, 7, 8, 9, 'CSE', True, 5.6]

In [45]:
## tuple,  Day-1, Time- 38:50
t = (5, 1, 33, 45, 76, 7, 8, 9, 'CSE', True, 5.6) # Denote tuple by ()
# What difference between tuple and list? we can use index, and return values
# but we can not append, remove values from the tuple. We can only use count, index
# and access the values from the tuple
# But we want to delete the tuple, that can be possible
t
t[5]

7

In [ ]:
## Set, Da-1,  Time- 41:0
s1 = {10,2,3,3,4,5,7,8}    # Set exclude duplicate value and always make
                        # the valaues in ascending order. we can not use index 
s2 = {2,3,4,11,12}      # We can use another set
s1.difference(s2)       # Return only the those values which is in s1
                        # but not in s2
s2.difference(s1)       # Return 11, 12 as these values are in s2 only
s1.intersection(s2)     # Return only common value between s1 and s2
s1.union(s2)            # marge unique values between two sets
s1.union(s2).union({13,14,5}) # We can union more then 2 sets as well

## Set
 # Sets are basically an organized collection of objects. Sets can be 
 # either represented in roster form or set builder form. The objects 
 # that a set consists of are known as the elements of the set. These 
 # elements can be grouped to form a subset of the original set. 
 # For e.g. if ‘a’ is an element of set A, this is represented as:

 #a ∈ A , where ∈ means “belongs to”

 # On the other hand, if ‘b’ is not an element of A, we represent it as:

 # b ∉ A, where ∉ means “doesn’t belong to”

## Sub Set
## In mathematics, set A is a subset of a set B if all elements of A are 
 # also elements of B; B is then a superset of A. It is possible for A 
 # and B to be equal; if they are unequal, then A is a proper subset of B. 
 # The relationship of one set being a subset of another is called inclusion 
 # (or sometimes containment).
s3 = {10,2,3,3,4,5,7,8, 88,99}
s3
s1.issubset(s3)     # s1 is subset of s3 return true. It means that s1 ∈ s3 (s1 belongs to s3)
s1.issuperset(s3)   # s1 is not superset of s3, return False. It means that s1 ∈ s3 (s1 belongs to s3)
s1.pop()            # Remove from the front. But remove value from last in list
s1.remove(8)        # Remove the particular value
s1.add(88)          # Add value at the last
s1.update(1,2,99)  # Update set wtih another set

In [10]:
## Dictionary, Day- 2, Time: 55:50
sd = {1:"John","Branch":"CSE","Age":24,"Marks":86}
    # |   |____ value
    # |________ key
sd["subs"] = ['Math','English'] # Add a column with two values
sd.get('Age')
sd.items()
sd.values()
sd.keys()
sd.
# Methods in Dictionary
# Method	     Description
sd.copy()      # Returns a copy of the dictionary
sd.fromkeys()  # Returns a dictionary with the specified keys and value
sd.get()       # Returns the value of the specified key
sd.items()     # Returns a list containing a tuple for each key value pair
sd.keys()      # Returns a list containing the dictionary's keys
sd.pop()       # Removes the element with the specified key
sd.popitem()   # Removes the last inserted key-value pair
sd.setdefault() # Returns the value of the specified key. If the key does not exist: insert the key, with the specified value
sd.update()    # Updates the dictionary with the specified key-value pairs
sd.values()    # Returns a list of all the values in the dictionary
sd.clear()     # Removes all the elements from the dictionary

dict_keys([1, 'Branch', 'Age', 'Marks', 'subs'])

In [ ]:
## Loop
# A for loop is used for iterating over a sequence (that is either 
# a list, a tuple, a dictionary, a set, or a string). This is less 
# like the for keyword in other programming languages, and works more 
# like an iterator method as found in other object-orientated programming 
# languages.

# While Loop   
# With the while loop we can execute a set of statements as long as 
# a condition is true. Example. Print i as long as i is less than 6: 
# i = 1 while i < ...
biscuit_eaten = 0
while biscuit_eaten < 6:
    print("Eat one bischuit",biscuit_eaten)
    biscuit_eaten += 1

# for loop
#A for loop is used for iterating over a sequence 
# (that is either a list, a tuple, a dictionary, a set, or a string).

# This is less like the for keyword in other programming languages, 
# and works more like an iterator method as found in other 
# object-orientated programming languages.

# With the for loop we can execute a set of statements, once for 
# each item in a list, tuple, set etc.
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

for s in s1:
    print(s)

In [6]:
for d in sd:
  print(d)

1
Branch
Age
Marks
subs